<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main class="main-content">
		<div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<nav class="breadcrumb-area">
								<ul class="breadcrumb">
									<li>
										<a href="/">Home</a>
									</li>
									<li class="breadcrumb-sep">/</li>
									<li>Contact</li>
								</ul>
							</nav>
							<h4 class="title">Contact</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="about-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="about-thumb">
							<a href="javascript:(0);">
								<img class="w-100" src="assets/img/team/store-surface.jpg">
							</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-content">
							<h5 class="text-danger text-center">HỆ THỐNG SURFACESTORE.COM.VN</h5>
							<p>Hà Nội: Số 2 Ngõ 161 Thái Hà, Phường Láng Hạ, Quận Đống Đa.</p>
							<p>Hồ Chí Minh: Số 367B Lê Hồng Phong, Phường 2, Quận 10.</p>
							<p>Nam Định: Số 5 Hoàng Hoa Thám, Trần Đăng Ninh, TP. Nam Định.</p>
							<p>Hotline: 0944.636.000</p>
							<p>Kỹ Thuật: 0926.345.444</p>
							<a class="btn-theme" href="javascript:(0);">read more</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="contact-info-area">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-4">
						<div class="contact-info-item">
							<h4>CONTACT DIRECTLY</h4>
							<p>nhom1@gmail.com</p>
							<p>0944.636.000</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="contact-info-item">
							<h4>VISIT OUR OFFICE</h4>
							<p>Hà Nội: Số 2 Ngõ 161 Thái Hà, Phường Láng Hạ, Quận Đống Đa.</p>
						</div>
					</div>
					<div class="col-md-6 offset-md-3 col-lg-4 offset-lg-0">
						<div class="contact-info-item">
							<h4>WORK WITH US</h4>
							<p>Send to our email:</p>
							<p>nhom1java6@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="contact-area">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>Get in touch with us</h2>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="contact-form-content">
							<div class="contact-form">
								<form id="contact-form">
									<div class="row">
										<div class="col-md-9 m-auto">
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<input class="form-control" type="text" name="con_name" placeholder="Your name" required>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<input class="form-control" type="email" name="con_email" placeholder="Your email" required>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<input class="form-control" type="text" name="con_phone" placeholder="Phone Number">
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<textarea class="form-control" name="con_message" placeholder="Your Message"></textarea>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group text-center">
														<button class="btn btn-link btn-contact" type="submit">Send Message</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="form-message"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>